<div #board class="chessboard" [style.width.px]="config.size" [style.height.px]="config.size">
  <div class="board" [style.transform]="rotated ? 'rotate(180deg)' : 'none'">
    <div *ngFor="let row of board; let rowIndex = index" class="row">
      <div *ngFor="let square of row; let colIndex = index" class="square"
           [class.light]="(rowIndex + colIndex) % 2 === 0"
           [class.dark]="(rowIndex + colIndex) % 2 !== 0"
           [style.width.px]="squareSize"
           [style.height.px]="squareSize"
           (mousedown)="onPieceMouseDown($event, square)">
        <img *ngIf="square.piece" [src]="getPieceImage(square.piece)" class="chess-piece" />
      </div>
    </div>
  </div>
</div>
