<div class="board">
  <table class="w-64 h-64">
    <tr *ngFor="let row of board; let i = index">
      <td *ngFor="let piece of row; let j = index"
          [class.bg-yellow-200]="(i + j) % 2 === 0"
          [class.bg-brown-500]="(i + j) % 2 !== 0"
          class="border border-gray-300 w-8 h-8 flex items-center justify-center"
          (mousedown)="onPieceMouseDown($event, i, j, piece)">
        <img *ngIf="piece" [src]="getPieceImage(piece)" alt="{{ piece }}" class="w-6 h-6">
      </td>
    </tr>
  </table>
</div>
